.main{
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.btn{
    background-color: #7A2DB1;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

.main .left{
    width: 60%;
    height: 100vh;
    padding: 40px;
}

.main .left .images{
     padding: 40px;
}

.main .left .images div{
    padding: 30px;
}

.main .right{
    background-color: #FAF6FF;
    padding: 160px 100px;
    width: 40%;
    height: 100vh;
}